@media (min-width: 1281px) {

    /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */
    .protfolio_abs_img {
        position: relative !important;
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
    .protfolio_title h3{
        font-size:22px !important;
    }
    .protfolio_title p{
        font-size: 14px !important;
    }
    .protfolio_btn .btn{
        font-size: 10px;
    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */
    .protfolio_abs_img {
        position: relative !important;
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
    .protfolio_title h3{
        font-size:18px !important;
    }
    .protfolio_title p{
        font-size: 10px !important;
    }


}